@use 'normalize.scss';

/*VARIABLES DE COLOR*/

$negro: #000;
$gris2: #202020;
$gris1: #808080;
$blanco: #FFFFFF;
$naranja: #FFA500;

/*TOTAL DEL DOC > 1920 PX ---------------------------------------- */

@media screen and (min-width: 1920px) {

	body {
		font-family: 'Montserrat', sans-serif;
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
	}

	section {
		background-color: $negro;
		color: $gris1;
	}

	/*NAV - INICIO*/

	.menu {
		display: none;
	}

	.nav {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $gris2;
		height: 70px;
		font-size: 20px;

		ul {
			display: flex;

			a {
				padding: 35px;
				color: $blanco;
			}

			a:hover {
				color: $gris1;
				transition: 0.3s;
			}
		}
	}

	/*NAV - FINAL*/

	/*FOOTER - INICIO*/

	.footer {
		display: flex;
		background-color: $gris2;
		flex-direction: column;

		a {
			color: $blanco;
			padding: 5px;
		}

		a:hover {
			color: $gris1;
			transition: 0.3s;
		}
	}

	.footer__sections {
		display: flex;
		justify-content: space-around;
		color: $blanco;
	}

	.footer__sections-secciones {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.footer__sections-deinteres {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.footer__sections-contacto {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.banner_footer {
		img {
			width: 100%;
		}
	}

	.iconos {
		display: flex;

		i {
			padding: 20px 20px 0 0;
			font-size: 35px;
		}
	}

	.footer__copyright {
		margin-top: 15px;
		padding: 15px;
		font-size: 12px;
		background-color: $negro;
		color: $blanco;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/*FOOTER - FINAL*/

	/*INDEX - INICIO*/

	.banner_index {
		img {
			width: 100%;
			height: 70%;
		}
	}

	.parrafo_inicio {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 50px 15% 0 15%;

	}

	.parrafo_inicio {
		div {
			img {
				height: 600px;
				width: 900px;
			}
		}
	}

	div {
		p {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
			padding: 10px
		}
	}

	.desactivado {
		b {
			text-align: center;
			color: $naranja;
		}
	}

	/*INDEX - FINAL*/

	/*ADOPCIONES - INICIO*/

	.section_adopciones {
		display: flex;
		flex-direction: column;
	}

	.adopciones_top {
		display: flex;
		justify-content: center;
		align-content: center;
		margin: 60px 15% 20px 15%;

		p {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
			margin: 0 0 0 0;
			padding: 10px;
		}
	}

	.adopciones_bottom {
		display: flex;
		justify-content: space-around;
		align-content: top;
		margin: 0 15% 0 15%;
	}


	.form-container {
		width: 500px;
		padding: 10px;
		margin: 10px 10px 10px 0;

		b {
			text-align: justify;
			line-height: 2;
			font-size: 30px;
			margin-left: 10px;
			padding-left: 10px;
		}
	}

	.termcond {
		width: 50%;
		width: 900px;
		padding: 10px;
		margin: 10px;

		b {
			text-align: justify;
			line-height: 2;
			font-size: 30px;
		}

		p {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
			padding: 5px;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		padding: 10px;
		margin-top: 20px;

		input {
			font-size: 18px;
			margin: 10px;
			padding: 10px;
			border-radius: 5px;
			border-left: 1px solid $gris1;
			border-bottom: 1px solid $gris1;
			border-right: 1px solid $negro;
			border-top: 1px solid $negro;
			background-color: $negro;
			color: $blanco;
		}

		input:focus {
			outline: none;
		}

		label {
			margin: 10px;
			border-radius: 5px;
			font-size: 16px;
		}
	}

	span {
		margin: 10px;
		border-radius: 5px;
		font-size: 16px;
	}
}

.choose {
	display: flex;
	justify-content: space-around;
	margin: 0 150px 0 150px;
}

select {
	font-size: 18px;
	color: $blanco;
	border-radius: 5px;
	border-left: 1px solid $gris1;
	border-bottom: 1px solid $gris1;
	border-right: 1px solid $negro;
	border-top: 1px solid $negro;
	background-color: $negro;
	margin: 10px;
	padding: 10px;
}

option {
	color: $gris1;
	background-color: $negro;
}

::placeholder {
	color: $gris1;
}

#submit {
	font-size: 18px;
	margin-top: 70px;
	border: 1px solid $gris1;
	color: $gris1;
}

#submit:hover {
	border: 1px solid $blanco;
	color: $blanco;
}

.section_adopciones {
	a {
		color: $gris1;
	}

	a:hover {
		color: $blanco;
		transition: 0.1s
	}
}

/*ADOPCIONES - FINAL*/

/*CUIDALOS - INICIO*/

.section_cuidalos {
	display: flex;
	flex-direction: column;

	p {
		text-align: justify;
		line-height: 2;
		font-size: 20px;
	}

	b {
		text-align: justify;
		line-height: 2;
		font-size: 30px;
	}
}

.castracion {
	display: flex;
	flex-direction: column;
	margin: 60px 15% 20px 15%;
}

.cerramientos {
	display: flex;
	flex-direction: column;
	margin: 60px 15% 20px 15%;
}

.iframe1 {
	text-align: justify;
	line-height: 2;
	font-size: 20px;

	iframe {
		float: right;
		margin-left: 35px;
		margin-bottom: 10px;
		margin-top: 15px;
	}
}

.iframe2 {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-content: center;
	margin-top: 30px;
	margin-bottom: 50px;

	iframe {
		margin: 20px;
	}
}

/*CUIDALOS - FINAL*/

/*DONACIONES - INICIO*/

.section_donaciones {
	display: flex;
	flex-direction: column;
}

.cuenta {
	margin: 60px 15% 20px 15%;

	p {
		text-align: justify;
		line-height: 2;
		font-size: 20px;
	}


	b {
		text-align: justify;
		line-height: 2;
		font-size: 30px;
	}
}


.donacion {
	margin: 50px 15% 20px 15%;

	p {
		text-align: justify;
		line-height: 2;
		font-size: 20px;
	}
}

.precios {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	img {
		height: 300px;
		width: 300px;
		margin: 30px;
	}
}

/*DONACIONES - FINAL*/

/*CANDIDATOS - INICIO*/

.section_candidatos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-center;
	justify-content: center;
	padding: 40px 15% 40px 15%;
}

.tarjeta {
	margin: 20px;
	padding: 0;
	width: 400px;
	display: flex;
	flex-direction: row;
	background-color: $negro;
	border: 1px solid $blanco;
	border-radius: 10px;

	img {
		height: 150px;
		width: 150px;
		margin: 15px;
		border-radius: 10px;
	}
}


.info {
	margin: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: $blanco;

	b {
		font-size: 20px;
	}

	p {
		font-size: 15px;
		line-height: 2;
	}
}

/*CANDIDATOS - FINAL*/

.construccion {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/*TOTAL DEL DOC 1200 a 1920 PX ---------------------------------------- */

@media screen and (min-width: 1200px) and (max-width: 1919px) {

	body {
		font-family: 'Montserrat', sans-serif;
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
	}

	section {
		background-color: $negro;
		color: $gris1;
	}

	/*NAV - INICIO*/

	.menu {
		display: none;
	}

	.nav {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $gris2;
		height: 70px;
		font-size: 20px;

		ul {
			display: flex;

			a {
				padding: 35px;
				color: $blanco;
			}

			a:hover {
				color: $gris1;
				transition: 0.3s;

			}

		}
	}

	/*NAV - FINAL*/

	/*FOOTER - INICIO*/

	.footer {
		display: flex;
		background-color: $gris2;
		flex-direction: column;

		a {
			color: $blanco;
			padding: 5px;
		}

		a:hover {
			color: $gris1;
			transition: 0.3s;
		}

		.footer__sections {
			display: flex;
			justify-content: space-around;
			color: $blanco;
		}
	}

	.footer__sections-secciones {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.footer__sections-deinteres {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.footer__sections-contacto {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.banner_footer img {
		width: 100%;
	}

	.iconos {
		display: flex;

		i {
			padding: 20px 20px 0 0;
			font-size: 35px;
		}
	}

	.footer__copyright {
		margin-top: 15px;
		padding: 15px;
		font-size: 12px;
		background-color: $negro;
		color: $blanco;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/*FOOTER - FINAL*/

	/*INDEX - INICIO*/

	.banner_index {
		img {
			width: 100%;
			height: 70%;
		}
	}

	.parrafo_inicio {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 50px 15% 0 15%;

		div {
			img {
				height: 600px;
				width: 900px;
			}
		}

		div {
			p {
				text-align: justify;
				line-height: 2;
				font-size: 20px;
				padding: 10px
			}
		}

	}

	.desactivado {
		b {
			text-align: center;
			color: $naranja;
		}
	}

	/*INDEX - FINAL*/

	/*ADOPCIONES - INICIO*/

	.section_adopciones {
		display: flex;
		flex-direction: column;
	}

	.adopciones_top {
		display: flex;
		justify-content: center;
		align-content: center;
		margin: 60px 15% 20px 15%;

		p {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
			margin: 0 0 0 0;
			padding: 10px;
		}
	}

	.adopciones_bottom {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-content: top;
		margin: 0 15% 0 15%;
	}

	.form-container {
		width: 500px;
		padding: 10px;
		margin: 10px 10px 10px -5px;

		b {
			text-align: justify;
			line-height: 2;
			font-size: 30px;
			margin-left: 5px;
		}
	}

	.termcond {
		width: 50%;
		width: 900px;
		padding: 10px;
		margin: 10px 10px 10px -5px;

		b {
			text-align: justify;
			line-height: 2;
			font-size: 30px;
			margin-left: 5px;
		}

		p {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
			padding: 5px;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		padding: 10px;
		margin-top: 20px;

		input {
			font-size: 18px;
			margin: 10px;
			padding: 10px;
			border-radius: 5px;
			border-left: 1px solid $gris1;
			border-bottom: 1px solid $gris1;
			border-right: 1px solid $negro;
			border-top: 1px solid $negro;
			background-color: $negro;
			color: $blanco;
		}

		input:focus {
			outline: none;
		}

		label {
			margin: 10px;
			border-radius: 5px;
			font-size: 16px;
		}

		span {
			margin: 10px;
			border-radius: 5px;
			font-size: 16px;
		}

		select {
			margin: 10px;
			border-radius: 5px;
		}
	}

	.choose {
		display: flex;
		justify-content: space-around;
		margin: 0 150px 0 150px;
	}

	select {
		font-size: 18px;
		color: $blanco;
		border-radius: 5px;
		border-left: 1px solid $gris1;
		border-bottom: 1px solid $gris1;
		border-right: 1px solid $negro;
		border-top: 1px solid $negro;
		background-color: $negro;
		margin: 10px;
		padding: 10px;
	}

	option {
		color: $gris1;
		background-color: $negro;
	}

	::placeholder {
		color: $gris1;
	}

	#submit {
		font-size: 18px;
		margin-top: 70px;
		border: 1px solid $gris1;
		color: gris1;
	}

	#submit:hover {
		border: 1px solid $blanco;
		color: $blanco;
	}

	.section_adopciones {
		a {
			color: $gris1;
		}

		a:hover {
			color: $blanco;
			transition: 0.1s
		}
	}

	/*ADOPCIONES - FINAL*/

	/*CUIDALOS - INICIO*/

	.section_cuidalos {
		display: flex;
		flex-direction: column;

		p {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
		}

		b {
			text-align: justify;
			line-height: 2;
			font-size: 30px;
		}
	}

	.castracion {
		display: flex;
		flex-direction: column;
		margin: 60px 15% 20px 15%;
	}



	.cerramientos {
		display: flex;
		flex-direction: column;
		margin: 60px 15% 20px 15%;
	}

	.iframe1 {
		text-align: justify;
		line-height: 2;
		font-size: 20px;

		iframe {
			float: right;
			margin-left: 35px;
			margin-bottom: 10px;
			margin-top: 15px;
		}
	}

	.iframe2 {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-content: center;
		margin-top: 30px;
		margin-bottom: 50px;

		iframe {
			margin: 20px;
		}
	}

	/*CUIDALOS - FINAL*/

	/*DONACIONES - INICIO*/

	.section_donaciones {
		display: flex;
		flex-direction: column;
	}

	.cuenta {
		margin: 60px 15% 20px 15%;

		p {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
		}

		b {
			text-align: justify;
			line-height: 2;
			font-size: 30px;
		}
	}

	.donacion {
		margin: 50px 15% 20px 15%;

		p {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
		}
	}

	.precios {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		img {
			height: 250px;
			width: 250px;
			margin: 25px;
		}
	}

	/*DONACIONES - FINAL*/

	/*CANDIDATOS - INICIO*/

	.section_candidatos {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-center;
		justify-content: center;
		padding: 40px 15% 40px 15%;
	}

	.tarjeta {
		margin: 20px;
		padding: 0;
		width: 400px;
		display: flex;
		flex-direction: row;
		background-color: $negro;
		border: 1px solid $blanco;
		border-radius: 10px;

		img {
			height: 150px;
			width: 150px;
			margin: 15px;
			border-radius: 10px;
		}
	}

	.info {
		margin: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: $blanco;

		p {
			font-size: 15px;
			line-height: 2;
		}

		b {
			font-size: 20px;
		}
	}

	/*CANDIDATOS - FINAL*/

	.construccion {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

/*TOTAL DEL DOC < 1200 PX ---------------------------------------- */

@media screen and (max-width: 1199px) {

	body {
		font-family: 'Montserrat', sans-serif;
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
	}

	section {
		background-color: $negro;
		color: grey;
	}

	/*NAV - INICIO*/

	.nav {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		background-color: $gris2;
		width: 100vw;
		font-size: 20px;
		position: absolute;
		top: -210px;

		ul {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			padding-left: 20px;
			width: 100%;

			li {
				margin-left: 30px;
				margin-bottom: 10px;

				a {
					color: $blanco;
				}

				a:hover {
					color: $gris1;
					transition: 0.4s;
					margin-left: 20px;
				}
			}
		}
	}

	.menu {
		color: $blanco;
		padding: 3px;
	}

	.nav:hover {
		position: relative;
		top: 0;
		transition: 0;
	}

	/*NAV - FINAL*/

	/*FOOTER - INICIO*/

	.footer {
		display: flex;
		background-color: #202020;
		flex-direction: column;
		align-items: center;

		a {
			color: $blanco;
			padding: 5px;
		}

		a:hover {
			color: $gris1;
			transition: 0.3s;
		}
	}


	.footer__sections {
		display: flex;
		flex-direction: column;
		color: $blanco;
	}

	.footer__sections-secciones {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.footer__sections-deinteres {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.footer__sections-contacto {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.banner_footer {
		img {
			width: 100%;
		}
	}

	.iconos {
		display: flex;

		i {
			padding: 20px 20px 0 0;
			font-size: 35px;
		}
	}

	.footer__copyright {
		margin-top: 15px;
		width: 90vw;
		padding: 15px;
		font-size: 12px;
		background-color: $negro;
		color: $blanco;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/*FOOTER - FINAL*/

	/*INDEX - INICIO*/

	.banner_index img {
		margin-top: 20px;
		width: 100%;
		height: 70%;
	}

	.parrafo_inicio {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 5% 0 5%;

		div {
			display: flex;
			justify-content: center;
			margin-bottom: 10px;

			img {
				height: 80%;
				width: 80%;
			}

			p {
				text-align: justify;
				line-height: 1.3;
				font-size: 15px;
				padding: 5px
			}
		}
	}

	.desactivado b {
		text-align: center;
		color: $naranja;
	}

	/*INDEX - FINAL*/

	/*ADOPCIONES - INICIO*/

	.section_adopciones {
		display: flex;
		flex-direction: column;

		a {
			color: $gris1;
		}

		a:hover {
			color: $blanco;
			transition: 0.1s
		}

	}

	.adopciones_top {
		display: flex;
		justify-content: center;
		align-content: center;
		margin: 40px 5% 0 5%;

		p {
			text-align: justify;
			line-height: 1.3;
			font-size: 15px;
			margin: 0 0 0 0;
			padding: 5px;
		}
	}

	.adopciones_bottom {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-around;
		align-content: top;
		margin: 0 5% 0 5%;
	}


	.form-container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 85vw;
		padding: 10px;
		margin-top: 20px;

		b {
			text-align: justify;
			line-height: 2;
			font-size: 20px;

			margin-left: -10px;
		}

	}

	.termcond {
		margin-top: 20px;

		b {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
			margin-top: 10px;

		}

		p {
			text-align: justify;
			line-height: 1.3;
			font-size: 15px;
			padding: 5px;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		margin: 20px 0;
		width: 90;
		margin-left: -10px;

		input {
			font-size: 12px;
			margin: 10px;
			padding: 5px;
			border-radius: 5px;
			border-left: 1px solid $gris1;
			border-bottom: 1px solid $gris1;
			border-right: 1px solid $negro;
			border-top: 1px solid $negro;
			background-color: $negro;
			color: $blanco;
		}

		input:focus {
			outline: none;
		}

		label {
			margin: 10px;
			border-radius: 5px;
			font-size: 16px;
		}

		span {
			margin: 10px;
			border-radius: 5px;
			font-size: 16px;
		}

		select {
			margin: 10px;
			border-radius: 5px;
		}
	}

	.choose {
		display: flex;
		justify-content: space-around;
		margin: 0 150px 0 150px;
	}

	select {
		font-size: 12px;
		color: $blanco;
		border-radius: 5px;
		border-left: 1px solid $gris1;
		border-bottom: 1px solid $gris1;
		border-right: 1px solid $negro;
		border-top: 1px solid $negro;
		background-color: $negro;
		margin: 10px;
		padding: 10px;
	}

	option {
		color: $gris1;
		background-color: $negro;
	}

	::placeholder {
		color: $gris1;
	}

	#submit {
		font-size: 18px;
		margin-top: 70px;
		border: 1px solid $gris1;
		color: $gris1;
	}

	#submit:hover {
		border: 1px solid $blanco;
		color: $blanco;
	}

	/*ADOPCIONES - FINAL*/

	/*CUIDALOS - INICIO*/

	.section_cuidalos {
		display: flex;
		flex-direction: column;

		p {
			text-align: justify;
			line-height: 1.3;
			font-size: 15px;
		}

		b {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
		}
	}

	.castracion {
		display: flex;
		flex-direction: column;
		margin: 40px 5% 0 5%;
	}

	.cerramientos {
		display: flex;
		flex-direction: column;
		margin: 50px 5% 0 5%;
	}

	.iframe1 {
		text-align: justify;
		line-height: 2;
		font-size: 20px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;

		iframe {
			float: right;
			margin-bottom: 10px;
			margin-top: 15px;
			width: 80%;
		}
	}

	.iframe2 {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 50px;
		width: 100%;

		iframe {
			margin-top: 30px;
			margin-bottom: 30px;
			width: 80%;
		}
	}

	/*CUIDALOS - FINAL*/

	/*DONACIONES - INICIO*/

	.section_donaciones {
		display: flex;
		flex-direction: column;
	}

	.cuenta {
		margin: 50px 5% 0 5%;

		p {
			text-align: justify;
			line-height: 1.3;
			font-size: 15px;
		}

		b {
			text-align: justify;
			line-height: 2;
			font-size: 20px;
		}
	}

	.donacion {
		margin: 50px 5% 0 5%;

		p {
			text-align: justify;
			line-height: 1.3;
			font-size: 15px;
		}
	}

	.precios {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		img {
			height: 200px;
			width: 200px;
			margin: 20px;
		}
	}

	/*DONACIONES - FINAL*/

	/*CANDIDATOS - INICIO*/

	.section_candidatos {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-center;
		justify-content: center;
		padding: 40px 15% 40px 15%;
	}

	.tarjeta {
		margin: 20px;
		padding: 0;
		width: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $negro;
		border: 1px solid $blanco;
		border-radius: 10px;

		img {
			height: 150px;
			width: 150px;
			margin: 15px;
			border-radius: 10px;
		}
	}

	.info {
		margin: 15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: $blanco;

		b {
			font-size: 20px;
		}

		p {
			font-size: 15px;
			line-height: 2;
		}
	}

	/*CANDIDATOS - FINAL*/

	.construccion {
		display: flex;
		flex-direction: column;
		align-items: center;
	}






		.footer {
		display: flex;
		background-color: $gris2;
		flex-direction: column;

		a {
			color: $blanco;
			padding: 5px;
		}

		a:hover {
			color: $gris1;
			transition: 0.3s;
		}
	}

	.footer__sections {
		display: flex;
		justify-content: space-around;
		color: $blanco;
	}

	.footer__sections-secciones {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.footer__sections-deinteres {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.footer__sections-contacto {
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.banner_footer {
		img {
			width: 100%;
		}
	}

	.iconos {
		display: flex;

		i {
			padding: 20px 20px 0 0;
			font-size: 35px;
		}
	}

	.footer__copyright {
		margin-top: 15px;
		padding: 15px;
		font-size: 12px;
		background-color: $negro;
		color: $blanco;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}